<div class="app">
  <div class="header">
    <section class="navigation">
      <div class="nav-container">
        <nav>
          <div class="nav-mobile">
            <a id="nav-toggle" href="#!"><span></span></a>
          </div>
          <ul class="nav-list">
            <li><a [routerLink]="['view']">Home</a></li>
            <li><a [routerLink]="['jewelary']">Jewelary</a></li>
            <li><a [routerLink]="['login']">Login</a></li>
          </ul>
        </nav>
      </div>

      <div class="log_search">
        <div class="brand">
          <a href="#!">
            <h1>Swagg Guru</h1>
          </a>
        </div>

        <div class="search_bar">
          <input type="text" placeholder="search" />
          <div class="symbol">
            <svg class="cloud">
              <use xlink:href="#cloud" />
            </svg>
            <svg class="lens">
              <use xlink:href="#lens" />
            </svg>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<router-outlet></router-outlet>