:host{
    
.app{
    height: 10vh; 
}
.header{
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
      background-color: #ddd;
      height: 70px;
}
.sections{
    background-color: white;
    width:100%;
    top: 0px; 
}

.data {
  display:  flex;
}

$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #ddd;
$nav-font-color: #0c0c0c;
$link-hover-color: #f8b500;


body{
  font-family: 'Poppins'
}

.navigation {
  height: $nav-height;
  background: $nav-background;
  padding-top: -5em;
}

.nav-container {
  max-width: $content-width;
  margin: 0 auto;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 1.4em;
  
  

  a,
  a:visited {
    color: $nav-font-color;
    text-decoration: none;
  }
}

nav {
  float: right;
  ul {
      list-style: none;
      margin: 0;
      padding: 0;
    li {
      float: left;
      position: relative;
      a {
        display: block;
        padding: 10px 20px 0 20px;
        line-height: 50px;
        background: $nav-background;
        color: $nav-font-color;
        text-decoration: none;
        
        
         &::before {
           transition: 300ms;
           height: 5px;
           content: "";
           position: absolute;
           background-color: $link-hover-color;
           width: 0%;
           bottom: 0px;
        }

        &:hover::before{
          width: 70%;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾';
        }
      } // Dropdown list
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}

.nav-mobile {
  display:contents;
  position: absolute;
  top: 0;
  right: 0;
  background: $nav-background;
  height: $nav-height;
  width: $nav-height;
}

.data_conitaner {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  justify-content: space-evenly;
}

.product-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 200px;
  gap: 40%;
  padding-right: 2em;
  padding-left: 2em;
  padding-bottom: 10em;
}

.checkout {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.product-info {
  /* Use this for growing an element to 100% width or height inside of a flex container */
  flex-grow: 30
}
  display: flex;


.details{
  padding-bottom: 10 em;
}

//Nav for the mobile device
@media only screen and (max-width: $breakpoint) {
  .nav-mobile {
    display: block;
  }
  nav {
      width: 100%;
      padding: $nav-height 0 15px;
    ul {
      display: none;
      
      li{
        float: none;
        
        a {
          padding: 15px;
          line-height: 20px;
          
          &:hover::before{
            width: 20%;
          }
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
  }
}
}